<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TTLeague</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="/icons/favicons/manifest.json">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="AsianTTLeague">
    <meta property="og:description" content="Asian TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
    <meta property="og:image" content="https://asianttleague.com/icons/favicons/preview.png">
    <meta property="og:url" content="https://asianttleague.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Asian TT League">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="AsianTTLeague">
    <meta name="twitter:description" content="Asian TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
    <meta name="twitter:image" content="https://asianttleague.com/icons/favicons/preview.png">
    <meta name="twitter:url" content="https://asianttleague.com/">

    <!-- Favicon and other icons -->
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="/icons/favicons/site.webmanifest">
    <link rel="mask-icon" href="/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/icons/favicons/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#262630">
    <!-- Для iOS установка цвета шторки (status bar) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#262630">
    <!-- Для Android установка цвета шторки -->
    <meta name="theme-color" content="#000817"> 

    <link rel="icon" type="image/png" href="/icons/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    
</head>

<body>
    <header class="header" id="scroll">
       <!-- from js -->
    </header>
    <div class="navigate">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol id="breadcrumb" class="navigate_breadcrumb">
                    <!-- from js -->
                </ol>
            </nav>
        </div>
    </div>
    
  
    <section class="aboutUs">
        <div class="container">
            <div class="aboutUs_textwrapp">
                <div class="aboutUs_textwrapp_left">
                    <h2>Asian TT League</h2>
                    <p>Добро пожаловать в крупнейшую лигу настольного тенниса в Азии!</p>
                </div>
                <div class="aboutUs_textwrapp_right">
                    <h2></h2>
                    <p>Мы объединяем любителей настольного тенниса всех уровней и национальностей. Независимо от того, новичок вы или профессионал, вы найдете сообщество единомышленников, тренеров и турниров, которые помогут вам расти и развиваться.</p>
                </div>
            </div>
            <div class="aboutUs_image">
            </div>

            <div class="aboutUs_textwrapp">
                <div class="aboutUs_textwrapp_left">
                    <h4>Наша миссия</h4>
                    <p>
                        Наша цель — сделать настольный теннис более популярным и доступным для всех. Мы стремимся создать платформу, где каждый игрок найдет свое место, независимо от уровня мастерства. Мы развиваем таланты, укрепляем связи и строим будущее этого вида спорта.
                    </p>
                </div>
                <div class="aboutUs_textwrapp_right">
                    <h4>Сообщество увлеченных игроков</h4>
                    <p>
                        Присоединяйтесь к крупнейшей сети настольного тенниса в Азии! Мы объединяем игроков со всей страны, давая вам возможность встретить новых друзей и достойных соперников. Повышайте свои навыки, участвуйте в турнирах и становитесь частью сообщества, которое горит страстью к игре.
                    </p>
                </div>
            </div>

            <h2>Почему стоит присоединиться к Asian TT League?</h2>

            <div class="aboutUs_textwrapp">
                <div class="aboutUs_textwrapp_left aboutUs_textwrapp_decorate">
                    <h4>Сообщество увлеченных игроков</h4>
                    <p>
                        Станьте частью крупнейшей сети настольного тенниса в Азии, где вы сможете найти друзей и соперников по всей територии.
                    </p>
                </div>
                <div class="aboutUs_textwrapp_right aboutUs_textwrapp_decorate">
                    <h4>Открыто для всех</h4>
                    <p>
                        Независимо от того, новичок вы или опытный игрок, лига открыта для каждого. Участвуйте в турнирах, находите партнеров для игры, тренеров и клубы рядом с вами.
                    </p>
                </div>
            </div>


            <div class="aboutUs_textwrapp">
                <div class="aboutUs_textwrapp_left aboutUs_textwrapp_decorate aboutUs_textwrapp_downdecorate">
                    <h4>Уникальная система рейтинга</h4>
                    <p>
                        Наша продвинутая система рейтинга поможет вам отслеживать свой прогресс и вдохновит на постоянное развитие. Регулярные турниры, проводимые по всей стране, — это отличный способ заявить о себе.
                    </p>
                </div>
                <div class="aboutUs_textwrapp_right aboutUs_textwrapp_decorate aboutUs_textwrapp_downdecorate">
                    <h4>Расширяйте свои связи</h4>
                    <p>
                        Asian TT League объединяет игроков, тренеров и клубы на одной платформе. Присоединившись, вы получаете доступ к широким возможностям — от поиска новых учеников или участников до создания связей в сообществе настольного тенниса.
                    </p>
                </div>
            </div>

            <h2>Преимущества для участников</h2>
            <div class="aboutUs_secondImage">
            </div>
            <div class="aboutUs_benefits">
                <div class="aboutUs_benefits_item">
                    <h3>Для игроков:</h3>
                    <ul class="aboutUs_benefits_item_list">
                        <li>Легко находите клубы, турниры и тренеров рядом с вами.</li>
                        <li>Создавайте профиль и находите партнеров для игры.</li>
                        <li>Получайте рейтинг, улучшайте свои навыки и наслаждайтесь игрой.</li>
                    </ul>
                </div>
                <div class="aboutUs_benefits_item">
                    <h3>Для тренеров:</h3>
                    <ul class="aboutUs_benefits_item_list">
                        <li>Создайте профиль тренера, чтобы привлекать новых учеников и развивать свою карьеру.</li>
                        <li>Рекламируйте свои тренировки и привлекайте больше игроков.</li>
                        <li>Связывайтесь с игроками, которые ищут тренера, расширяйте свою аудиторию и укрепляйте свой бизнес.</li>
                    </ul>
                </div>
                <div class="aboutUs_benefits_item">
                    <h3>Для клубов:</h3>
                    <ul class="aboutUs_benefits_item_list">
                        <li>Добавьте свой клуб в наш каталог, чтобы игроки со всей страны могли вас найти.</li>
                        <li>Привлекайте новых членов, организуйте турниры и развивайте своих игроков.</li>
                        <li>Мотивируйте своих игроков играть чаще и улучшать свои навыки быстрее.</li>
                
                    </ul>
                </div>
            </div>

        </div>
    </section>





    <footer class="footer">
        <!-- from js -->
    </footer>
    
    <div class="adv">
    <!-- add from DB -->
    </div>
    
    
    <!-- Модальное окно -->
    <div id="myModal" class="modal">    
        <div class="modal-content">
        <!-- add from DB -->
        </div>
    </div>
    
    <script type="module" src="/js/aboutus.js"></script> 
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>