<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TTLeague</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/icons/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/icons/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/icons/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/icons/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/icons/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/icons/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icons/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/icons/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
        <link rel="manifest" href="/icons/favicons/manifest.json">
    
        <!-- Open Graph meta tags -->
        <meta property="og:title" content="AsianTTLeague">
        <meta property="og:description" content="Asian TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
        <meta property="og:image" content="https://asianttleague.com/icons/favicons/preview.png">
        <meta property="og:url" content="https://asianttleague.com/">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Asian TT League">
    
        <!-- Twitter Card meta tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="AsianTTLeague">
        <meta name="twitter:description" content="Asian TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
        <meta name="twitter:image" content="https://asianttleague.com/icons/favicons/preview.png">
        <meta name="twitter:url" content="https://asianttleague.com/">
    
        <!-- Favicon and other icons -->
        <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
        <link rel="manifest" href="/icons/favicons/site.webmanifest">
        <link rel="mask-icon" href="/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/icons/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="/icons/favicons/browserconfig.xml">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/icons/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#262630">
        <!-- Для iOS установка цвета шторки (status bar) -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#262630">
        <!-- Для Android установка цвета шторки -->
        <meta name="theme-color" content="#000817"> 
    
        <link rel="icon" type="image/png" href="/icons/logo.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.min.css">
        
    </head>

<body>
    <header class="header softHeader" id="scroll">
       <!-- from js -->
    </header>

    <section class="startTournament" data-tournamentid="<%= tournamentId %>" data-userid="<%= userId %>">
        <div class="startTournament_panelWrapp">
            <div class="startTournament_panelWrapp_tournament">
                <div class="startTournament_panelWrapp_tournament_menu">
                    <div class="startTournament_panelWrapp_tournament_menu_tournamentTypeBlock graySoftSmallBlock">
                        <div class="dropdownForm">
                            <label for="club">Tournament type</label>
                            <input type="text" name="typeoftournament" id="typeOfTournamentInput" value="Round robin tournament" placeholder="Round robin tournament">
                            <div id="typeOfTournamentDropdown" class="dropdown-content" style="display: none;">
                                <div data-type="roundRobin">Round robin tournament</div>
                                <div data-type="twoRound">Two-round tournament</div>
                                <div data-type="singleElimination">Single elimination tournament</div>
                                <div data-type="doubleElimination">Double elimination tournament</div>
                                <div data-type="olympic">Olympic tournament</div>
                                <div data-type="groupOlympicFinal">Group + Olympic final</div>
                                <div data-type="groupFinal">Group + final</div>
                                <div data-type="groupTwoFinals">Group + two finals</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="startTournament_panelWrapp_tournament_menu_tournamentInfoBlock graySoftSmallBlock">
                        <div class="startTournament_panelWrapp_tournament_menu_tournamentInfoBlock_param">
                            <h4>Number of tables</h4>
                            <!-- <span>0</span> -->
                            <input type="number" id="numberOfTables" value="0" min="0" max="30" step="1">
                        </div>
                        <div class="startTournament_panelWrapp_tournament_menu_tournamentInfoBlock_param">
                            <h4>Rating limit</h4>
                            <!-- <span>0</span> -->
                            <input type="text" id="ratingLimit" value="0" readonly>
                        </div>
                        <div class="startTournament_panelWrapp_tournament_menu_tournamentInfoBlock_param">
                            <h4>Sets</h4>
                            <input type="number" id="numberOfParties" value="3" min="3" max="7" step="2">
                        </div>
                    </div>
                    
                </div>

                <div class="startTournament_panelWrapp_tournament_games">
                    <div class="startTournament_panelWrapp_tournament_games_playingBlock graySoftBlock">
                        <div class="startTournament_panelWrapp_tournament_games_header grayHeaderBlock">
                            <h3>Playing</h3>
                        </div>
                        <div class="startTournament_panelWrapp_tournament_games_playingBlock_pairs">
                            <!-- <div class="startTournament_panelWrapp_tournament_games_playingBlock_pairs_item">
                                <h3>1</h3>
                                <div class="group">
                                    <span>Gr.1</span>
                                </div>
                                <div class="pair">
                                    <h6>Petrov Alexander</h6> 
                                    <h6>:</h6>
                                    <h6>Dmitry Arbuz</h6>
                                </div>
                            </div> -->
                        </div>
                    
                    </div>

                    <div class="startTournament_panelWrapp_tournament_games_watingBlock graySoftBlock">
                        <div class="startTournament_panelWrapp_tournament_games_header grayHeaderBlock">
                            <h3>Waiting</h3>
                        </div>
                        <div class="startTournament_panelWrapp_tournament_games_watingBlock_pairs">
                            <!-- <div class="startTournament_panelWrapp_tournament_games_watingBlock_pairs_item">
                                <div class="group">
                                    <span>Gr.1</span>
                                </div>
                                <div class="pair">
                                    <h6>Petrov Alexander</h6> 
                                    <h6>:</h6>
                                    <h6>Dmitry Arbuz</h6>
                                </div>
                            </div> -->

                        </div>

                        
                    </div>

                </div>

            </div>

            <div class="startTournament_panelWrapp_players">
                <div class="startTournament_panelWrapp_players_searchBlock graySoftSmallBlock">
                    <label class="header_top_left_label startTournament_panelWrapp_players_searchBlock_label graySoftBlock_label" id="searchPlayerLabel">
                        <input id="playerSearchInput" class="header_top_left_input" type="text" placeholder="Search for a player" autocomplete="off">
                        <div class="headerDropdownForm">
                            <div class="headerDropdown-content startTournament_panelWrapp_players_searchBlock_label_dropdown" id="headerPlayerDropdown" style="display: none;">
                                
                            </div>
                        </div>
                    </label>
                    <button id="addPlayertoTournament" class="header_btn-sign btnSbmt" type="submit" >Add</button>
                </div>
                <div class="startTournament_panelWrapp_players_registration graySoftBlock">
                    <div class="startTournament_panelWrapp_players_registration_header grayHeaderBlock">
                        <div class="name">
                            <h3>Full name</h3>
                        </div>
                        
                        <div class="dob">
                            <h3>Year of birth</h3>
                        </div>
                        
                        <div class="rating">
                            <h3>Rating</h3>
                        </div>
                        
                        <div class="city">
                            <h3>City</h3>
                        </div>
                        <div class="cross">
                            <!-- <img src="/icons/deleteCross.svg" alt=""> -->
                        </div>
                        
                    </div>
                    <div class="startTournament_panelWrapp_players_registration_showPlayers">
                        <!-- <div class="startTournament_panelWrapp_players_registration_showPlayers_item">
                            <div class="number">
                                <h3>1</h3>
                            </div>
                            <div class="name">
                                <h3>Petrov Alexander</h3>
                            </div>
                        
                            <div class="dob">
                                <h3>1994</h3>
                            </div>
                        
                            <div class="rating">
                                <h3>366</h3>
                            </div>
                        
                            <div class="city">
                                <h3>Phuket</h3>
                            </div>
                            <div class="cross">
                                <img src="/icons/deleteCross.svg" alt="">
                            </div>
                        </div>

                        <div class="startTournament_panelWrapp_players_registration_showPlayers_item">
                            <div class="number">
                                <h3>2</h3>
                            </div>
                            <div class="name">
                                <h3>Vasiliev Andrew</h3>
                            </div>
                        
                            <div class="dob">
                                <h3>1994</h3>
                            </div>
                        
                            <div class="rating">
                                <h3>366</h3>
                            </div>
                        
                            <div class="city">
                                <h3>Phuket</h3>
                            </div>
                            <div class="cross">
                                <img src="/icons/deleteCross.svg" alt="">
                            </div>
                        </div> -->
                    </div>
                    <div class="startTournament_panelWrapp_players_registration_unratedBlock">
                        <h5>Unrated players</h5>
                        <form id="addUnratedPlayerForm" action="/addUnratedPlayer" method="POST" enctype="application/x-www-form-urlencoded">
                            <div class="form_wrapper">
                                <label for="fullname">Name*</label>
                                <input type="text" placeholder="Name" id="fullname" name="fullname" required>
                            </div>

                            <div class="form_wrapper">
                                <label for="date">Birthday*</label>
                                <input type="text" name="date" id="date" placeholder="dd.mm.yyyy" oninput="addDots(this)" maxlength="10" required>
                            </div>

                            <div class="form_wrapper">
                                <label for="nickname">Nickname</label>
                                <input type="text" id="loginRegInput" placeholder="Nickname" name="nickname" required>
                            </div>
                            
                            <div class="form_wrapper">
                                <label for="city">City*</label>
                                <input type="text" placeholder="City" id="city" name="city" required>
                            </div>
                            
                            
                            <div class="form_wrapper">
                                <div>  </div>
                                <a class="addUnratedPlayer_btn" href="#">Add player</a>
                            </div>
                            
                        </form>
                    </div>
                </div>

                <div class="startTournament_panelWrapp_players_retired graySoftBlock">
                    <div class="startTournament_panelWrapp_players_registration_header grayHeaderBlock">
                        <h3>Withdrew from the game</h3>
                    </div>
                    <div class="startTournament_panelWrapp_players_retired_list">

                    </div>
                </div>


            </div>



        </div>
        <div class="startTournament_startButtonWrapp">
            <button id="saveTournamentData" class="header_btn-log">
                Save changes
            </button>
            <button id="startTournamentBtn" class="header_btn-sign btnSbmt">Start</button>
        </div>
    </section>
    <section class="display">
        <div class="displayTournament graySoftBlock displayTournamentFirst">
            
            <div class="content">
                <div class="display_header">
                    <h3>Round robin tournament</h3>
                </div>
                <!-- <table class="tournament-table" id="tournamentTable">
                   
                </table> -->
                <div class="tournament-wrapper">
                 
                </div>
            </div>

        </div>

        <div class="displayTournament graySoftBlock displayTournamentSecond">
            
            <div class="content">
                <div class="display_header">
                    <h3>Two-round tournament</h3>
                </div>
                <!-- <table class="tournament-table" id="tournamentTable">
                   
                </table> -->
                <div class="tournament-wrapper">
                  
                </div>
            </div>

        </div>
        <div class="startTournament_startButtonWrapp">
            <button id="showResult" style="display: none;" class="header_btn-sign btnSbmt">Result</button>
        </div>
    </section>
    <section class="completed">
        <div class="completedGames graySoftBlock">
            <div class="completed_header">
                <h3>Completed games</h3>
            </div>
            <div class="completedGames-wrapper">
                <!-- <div class="completedGames-wrapper_pair">
                    <h4 class="completedGames-wrapper_pair_player1">Petrov Alexander</h4>
                    <div class="completedGames-wrapper_pair_player1_score wins">3</div>
                    <h5>:</h5>
                    <div class="completedGames-wrapper_pair_player2_score losers">0</div>
                    <h4 class="completedGames-wrapper_pair_player2">Ivanov Dmitriy</h4>
                </div>

                <div class="completedGames-wrapper_pair">
                    <h4 class="completedGames-wrapper_pair_player1">Petrov Alexander</h4>
                    <div class="completedGames-wrapper_pair_player1_score wins">3</div>
                    <h5>:</h5>
                    <div class="completedGames-wrapper_pair_player2_score losers">0</div>
                    <h4 class="completedGames-wrapper_pair_player2">Ivanov Dmitriy</h4>
                </div> -->
            </div>
            

        </div>
    </section>

    <section class="results">
        <div class="finalResults graySoftBlock">
            <div class="results_header">
                <h3>Final results</h3>
            </div>

            <div class="finalResults_table">
                <div class="finalResults_table_header">
                    <span class="finalResults_number">№</span>
                    <span class="finalResults_player">Player name</span>
                    <span class="finalResults_city">City</span>
                    <span class="finalResults_games">Games</span>
                    <span class="finalResults_sets">Sets</span>
                    <span class="finalResults_avarage">+/-</span>
                    <span class="finalResults_before">Before</span>
                    <span class="finalResults_after">After</span>
                </div>
                <div class="finalResults_table_content">
                    <!-- <div class="finalResults_table_player">
                        <div class="finalResults_number">1</div>
                        <div class="cell finalResults_player">
                            <div class="playerLogo" style="background-image: url('/icons/playerslogo/petrov_aleksandr.svg'); background-position: 50%; background-size: cover; background-repeat: no-repeat;" ></div>
                            <span>Petrov Alexander</span>
                        </div>
                        <div class="cell finalResults_city">Bangkok</div>
                        <div class="cell finalResults_games">7(6-1)</div>
                        <div class="cell finalResults_sets">27(19-8)</div>
                        <div class="cell finalResults_avarage">+11.1</div>
                        <div class="cell finalResults_before">227</div>
                        <div class="cell finalResults_after">238</div>
                    </div>
                    <div class="finalResults_table_player">
                        <div class="finalResults_number">2</div>
                        <div class="cell finalResults_player">
                            <div class="playerLogo" style="background-image: url('/icons/playerslogo/petrov_aleksandr.svg'); background-position: 50%; background-size: cover; background-repeat: no-repeat;" ></div>
                            <span>Petrov Alexander</span>
                        </div>
                        <div class="cell finalResults_city">Bangkok</div>
                        <div class="cell finalResults_games">7(6-1)</div>
                        <div class="cell finalResults_sets">27(19-8)</div>
                        <div class="cell finalResults_avarage">+11.1</div>
                        <div class="cell finalResults_before">227</div>
                        <div class="cell finalResults_after">238</div>
                    </div> 
                    <div class="finalResults_table_player">
                        <div class="finalResults_number">3</div>
                        <div class="cell finalResults_player">
                            <div class="playerLogo" style="background-image: url('/icons/playerslogo/petrov_aleksandr.svg'); background-position: 50%; background-size: cover; background-repeat: no-repeat;" ></div>
                            <span>Petrov Alexander</span>
                        </div>
                        <div class="cell finalResults_city">Bangkok</div>
                        <div class="cell finalResults_games">7(6-1)</div>
                        <div class="cell finalResults_sets">27(19-8)</div>
                        <div class="cell finalResults_avarage">+11.1</div>
                        <div class="cell finalResults_before">227</div>
                        <div class="cell finalResults_after">238</div>
                    </div>  -->
                    <!-- <a class="pastTournament_table_btn" href="#">
                        See more
                    </a> -->
                </div>
            </div>
            

        </div>
    </section>
        


    <!-- Модальное окно -->
    <div id="myModal" class="modal">    
        <div class="modal-content softStyle">
        <!-- add from DB -->   
            <!-- <h2>editing a meeting</h2>
            <p>Table Number: 3</p>
            <div class="modalPairBlockDone">
                <div>
                    <h4 class="modalPairBlockDone_firstPlayer">Petrov Alexander</h4>
                    <input style="margin-right: -27px" type="text" value="0">
                    <h4 class="modalPairBlockDone_vs">:</h4>
                    <input style="margin-left: -27px" type="text" value="0">
                    <h4 class="modalPairBlockDone_secondPlayer">Aleksandr Trainer</h4>
                </div> 
            </div>
            <div class="modalScoreBlock">
                <div class="modalScoreBlock_points">
                    <div class="modalScoreBlock_points_row">
                        <div class="modalScoreBlock_points_left">

                        </div>
                        <div class="modalScoreBlock_points_right">
                            <h5>1</h5><h5>2</h5><h5>3</h5><h5>4</h5><h5>5</h5><h5>6</h5><h5>7</h5><h5>8</h5><h5>9</h5>
                        </div>
                    </div>
                    <div class="modalScoreBlock_points_row">
                        <div class="modalScoreBlock_points_left">
                            <h3>Petrov Alexander</h3>
                        </div>
                        <div class="modalScoreBlock_points_right">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                        </div>
                    </div>
                    <div class="modalScoreBlock_points_row">
                        <div class="modalScoreBlock_points_left">
                            <h3>Ivanov Dmitriy</h3>
                        </div>
                        <div class="modalScoreBlock_points_right">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="modalScoreBlock_scores">
                    <div class="modalScoreBlock_scores_player1">
                        <button>3 : 0</button>
                        <button>3 : 1</button>
                        <button>3 : 2</button>
                        <button>W : L</button>
                    </div>
                    <button id="cancelGame" class="header_btn-log btn-cancel">
                        Cancel game
                    </button>
                    <div class="modalScoreBlock_scores_player2">
                        <button>0 : 3</button>
                        <button>1 : 3</button>
                        <button>2 : 3</button>
                        <button>L : W</button>
                    </div>

                </div>

            </div>
            <div class="modal-actions">
                <button id="createTournamentSoft" class="header_btn-sign btn-confirm">
                    OK
                </button>
                <button id="createTournamentSoft" class="header_btn-log btn-cancel">
                    Cancel
                </button>
                
            </div> -->
        
        </div>
    </div>

    <div id="modalFinishGame" class="modal">    
        <div class="modal-content softStyle">
        <!-- add from DB -->   
            <h2>editing a meeting</h2>
            <p class="modalNumberOfTable">Table Number: </p>
            <div class="modalPairBlockDone">
                <div>
                    <h4 class="modalPairBlockDone_firstPlayer">Petrov Alexander</h4>
                    <input style="margin-right: -27px" type="text" value="0">
                    <h4 class="modalPairBlockDone_vs">:</h4>
                    <input style="margin-left: -27px" type="text" value="0">
                    <h4 class="modalPairBlockDone_secondPlayer">Aleksandr Trainer</h4>
                </div> 
            </div>
            <div class="modalScoreBlock">
                <div class="modalScoreBlock_points">
                    <div class="modalScoreBlock_points_row">
                        <div class="modalScoreBlock_points_left">

                        </div>
                        <div class="modalScoreBlock_points_right">
                            <h5>1</h5><h5>2</h5><h5>3</h5><h5>4</h5><h5>5</h5><h5>6</h5><h5>7</h5><h5>8</h5><h5>9</h5>
                        </div>
                    </div>
                    <div class="modalScoreBlock_points_row firstPlayer">
                        <div class="modalScoreBlock_points_left">
                            <h3>Petrov Alexander</h3>
                        </div>
                        <div class="modalScoreBlock_points_right">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                        </div>
                    </div>
                    <div class="modalScoreBlock_points_row secondPlayer">
                        <div class="modalScoreBlock_points_left">
                            <h3>Ivanov Dmitriy</h3>
                        </div>
                        <div class="modalScoreBlock_points_right">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="modalScoreBlock_scores">
                    <div class="modalScoreBlock_scores_player1">
                        <button>3 : 0</button>
                        <button>3 : 1</button>
                        <button>3 : 2</button>
                        <button>W : L</button>
                    </div>
                    <button id="cancelGame" class="header_btn-log btn-cancel">
                        Cancel game
                    </button>
                    <div class="modalScoreBlock_scores_player2">
                        <button>0 : 3</button>
                        <button>1 : 3</button>
                        <button>2 : 3</button>
                        <button>L : W</button>
                    </div>

                </div>

            </div>
            <div class="modal-actions">
                <button id="saveGameResult" class="header_btn-sign btn-confirm">
                    OK
                </button>
                <button id="notFinish" class="header_btn-log btn-cancel">
                    Cancel
                </button>
                
            </div>
        
        </div>
    </div>
    <script type="module" src="/js/softstarttournament.js"></script> 
</body>
</html>