# Зависимости
/node_modules

# лого
# /public/icons/

# /public/image/

# /public/icons/clubsphotos/

# Файлы окружения
.env

# Логи
logs
*.log
npm-debug.log*

# Файлы редактора
.vscode
.idea
*.swp

# Операционные системы
.DS_Store
Thumbs.db

# Директории npm
npm-debug.log

/.ssh

# временно
# server.js
# package.json