# Зависимости
/node_modules

# Файлы окружения
.env

# Логи
logs
*.log
npm-debug.log*

# Файлы редактора
.vscode
.idea
*.swp

# Операционные системы
.DS_Store
Thumbs.db

# Директории npm
npm-debug.log

/.ssh