#players-preloader
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 18px
    font-weight: bold
    color: #333

    
.admin
    &_body
        background-color: #E9E9E9 !important
        position: relative
        .admin_searchClub
            margin-top: -46px

    &_header
        position: fixed
        top: 0px
        background-color: #F8F8F8
        width: 100%
        height: 76px
        display: flex
        justify-content: space-between
        z-index: 1000
    &_logoWrapp
        width: 280px
        background-color: #fff
        height: 100%
        a
            display: flex
            align-items: center
            height: 100%
            padding-left: 20px
            .adminlogo_img
                width: 59px
                height: 40px
    &_user
        display: flex
        align-items: center
        justify-content: center
        padding: 0 20px
        cursor: pointer
        width: 75px
        background-color: #fff
        img
            display: flex
            width: 40px
            height: 40px
            justify-content: center
            align-items: center
            border-radius: 10px
    &_sidebar
        padding: 35px 20px
        height: 500px
        width: 280px
        background-color: #fff
        color: #474747
        position: fixed
        top: 76px
        z-index: 1000
        box-sizing: border-box
        // left: 0
        // overflow-y: auto; /* Если меню длинное, добавим прокрутку */
        // transition: width 0.3s ease; /* Анимация при изменении ширины */
        ul
            list-style-type: none
            padding: 0
            margin: 0
            li 
                width: 100%
                height: 44px
                border-radius: 12px
                margin-bottom: 8px
                cursor: pointer 
                p
                    cursor: pointer   
        &_category
            background-color: #fff
            color: #474747
            text-decoration: none
            display: flex
            align-items: center
            gap: 8px
            height: 100%
            border-radius: 12px
            font-size: 16px
            font-family: Inter
            font-style: normal
            font-weight: 500
            line-height: normal
            padding: 10px 12px
            cursor: pointer
            transition: background-color 0.4s ease, color 0.4s ease
            &:hover
                color: #FA6400
                background-color: #E9E9E9
                
                    
    &_profileMenu 
        // margin-top: 60px
        display: none
        position: absolute
        right: 0
        top: 76px
        // width: 75px
        padding: 10px 30px
        border-radius: 0 0 14px 14px
        background: #fff
        box-sizing: border-box
        z-index: 1

        a
            color: #474747
            font-family: Inter
            font-size: 16px
            font-weight: 500
            font-style: normal
            line-height: normal
            text-decoration: none
            display: flex
            gap: 6px
            margin-top: 10px
            margin-bottom: 10px
            &:hover
                color: #FA6400
                transition: 0.4s ease

    

.admin_profileMenu_openMenu
    display: block
.players
    margin-top: 30px

.adminContainer
    position: relative
    width: 804px
    margin-left: 300px
    margin-top: 76px
    .buttonsTopWrapp
        position: absolute
        top: 20px
        right: 0px
        display: flex
        gap: 20px
        // flex-direction: column-reverse
        // align-items: flex-end
        flex-direction: row
        align-items: center
        .deletePlayer
            color: #fa6400
            font-family: Inter
            font-size: 14px
            font-style: normal
            font-weight: 500
            line-height: normal
        .editclub_formContainer_submit
            margin-top: 0

    h2 
        color: #000
        padding-top: 20px
    .filterPlayers_filter
        margin-top: 100px
        background: #fff
        label
            color: #000
        input
            background: #E9E9E9
            color: #000
            // -webkit-text-fill-color: #000
        .dropdown-content
            background-color: #fff
            div
                color: #000
                &:hover
                    background-color: #E9E9E9
    .playersTable
        background: #fff
        .cell
            color: #000
        &_player:hover
            background-color: #E9E9E9

    .filterClubs_filter
        margin-top: 100px
        background: #fff
        label
            color: #000
        input
            background: #E9E9E9
            color: #000
            // -webkit-text-fill-color: #000
        .dropdown-content
            background-color: #fff
            div
                color: #000
                &:hover
                    background-color: #E9E9E9
    
    .clubsTable
        background-color: #fff
        border-radius: 8px
        padding: 20px

        color: #000
        font-family: Inter
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 130%
        // &_content
        //     display: flex

        &_club
            position: relative
            border-radius: 8px
            padding: 15px 0px
            display: flex
            justify-content: space-between
            // grid-template-columns: 20px repeat(2, 1fr)
            column-gap: 30px

            height: 30px
            align-items: center
            color: #000
            text-decoration: none
            padding-top: 20px
            &::after
                margin-top: 11px
                content: ''
                display: block
                position: absolute
                bottom: 0
                left: 0
                // grid-column: 1/-1
                height: 1px
                width: 100%
                background-color: #3F3F4C
            
            .club
                &_club
                    font-size: 16px
                    font-weight: 400
                    display: flex
                    align-items: center
                    gap: 20px
                    .clubLogo
                        width: 36px
                        height: 36px
                        border-radius: 50%
                &_city
                    align-items: end
    
    .editclub_formContainer
        background: #fff
        label
            color: #000
        input
            background: #E9E9E9
            color: #000
        textarea
            background: #E9E9E9
            color: #000
        .dropdown-content
            background-color: #fff
            div
                color: #000
                &:hover
                    background-color: #E9E9E9
        &_formSection 
            .photoUploadContainer_preview
                background: #E9E9E9
        .admin_container_buttonsWrapper
            margin-top: 30px
            display: flex
            justify-content: space-between
            align-items: center
            .makeCoach
                margin-top: 0
            .clubs_down, .deletePlayer, .editclub_formContainer_submit
                margin-top: 0
            
