.clubStatistics
    .tournamentsTable, .victoriesTable
        position: relative
        border-radius: 14px
        background: #262630
        padding: 20px

        color: #FFF
        font-family: Inter
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 130%
        h3
            margin-bottom: 20px
        &_header
            border-radius: 8px
            background: #3F3F4C
            padding: 15px 0px
            display: grid
            grid-template-columns: 50px repeat(6, 1fr)
            gap: 30px
            span
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
        .player
            &_number
                color: #fff
                font-size: 16px
                font-weight: 500
                margin-left: 30px
            &_player
                grid-column: 2/6
                align-items: center
                gap: 12px
                display: block
            
            &_tournaments
                grid-column: 6/7
            &_rating
                // margin-right: 30px
                grid-column: 7/-1

        &_player
            border-radius: 8px
            padding: 15px 0px
            display: grid
            grid-template-columns: 50px repeat(6, 1fr)
            column-gap: 30px

            height: 30px
            align-items: center
            color: #FFF
            text-decoration: none
            padding-top: 20px
            &::after
                margin-top: 11px
                content: ''
                display: block
                grid-column: 1/-1
                height: 1px
                background-color: #3F3F4C

            .player
                &_number
                    font-weight: 400
                    margin-left: 30px
                &_player
                    font-size: 16px
                    font-weight: 400
                    display: flex
                    .playerLogo
                        width: 36px
                        height: 36px
                &_login
                    color: #ADADAD
                &_city
                    font-weight: 400
                &_rating
                    font-weight: 400
                    margin-right: 30px
        .cell
            height: 30px
            display: flex
            gap: 14px
            align-items: center
            span
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

        &_btn
            display: block
            margin-top: 20px
            color: #FA6400
            font-family: Inter
            font-size: 14px
            font-style: normal
            font-weight: 500
            line-height: normal
            text-decoration-line: underline
            &:hover
                color: #FF7A00
    .victoriesTable
        margin-top: 20px
.clubWinners
    .winnersTable
        position: relative
        border-radius: 14px
        background: #262630
        padding: 20px

        color: #FFF
        font-family: Inter
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 130%
        h3
            margin-bottom: 20px
        &_header
            border-radius: 8px
            background: #3F3F4C
            padding: 15px 0px
            display: grid
            grid-template-columns: 50px repeat(6, 1fr)
            gap: 30px
            span
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
        .player
            &_number
                color: #fff
                font-size: 16px
                font-weight: 500
                margin-left: 30px
            &_player
                grid-column: 2/4
                align-items: center
                gap: 12px
                display: block
            &_places
                grid-column: 4/6
                display: grid
                grid-template-columns: repeat(3, 1fr)
                justify-items: end
                align-items: center
                img
                    width: 14px
                    height: 14px
                    
            
            &_tournaments
                grid-column: 6/7
            &_rating
                // margin-right: 30px
                grid-column: 7/-1

        &_player
            border-radius: 8px
            padding: 15px 0px
            display: grid
            grid-template-columns: 50px repeat(6, 1fr)
            column-gap: 30px

            height: 30px
            align-items: center
            color: #FFF
            text-decoration: none
            padding-top: 20px
            &::after
                margin-top: 11px
                content: ''
                display: block
                grid-column: 1/-1
                height: 1px
                background-color: #3F3F4C

            .player
                &_number
                    font-weight: 400
                    margin-left: 30px
                &_player
                    font-size: 16px
                    font-weight: 400
                    display: flex
                    .playerLogo
                        width: 36px
                        height: 36px
                &_login
                    color: #ADADAD
                &_city
                    font-weight: 400
                &_rating
                    font-weight: 400
                    margin-right: 30px
        .cell
            height: 30px
            display: flex
            gap: 14px
            align-items: center
            span
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

        &_btn
            display: block
            margin-top: 20px
            color: #FA6400
            font-family: Inter
            font-size: 14px
            font-style: normal
            font-weight: 500
            line-height: normal
            text-decoration-line: underline
            &:hover
                color: #FF7A00

@media (max-width: 768px)
    .clubStatistics
        margin-top: 60px
        .tournamentsTable, .victoriesTable
            padding: 16px 8px
            font-size: 14px
            &_header
                padding-top: 20px
                gap: 10px

            &_player
                grid-template-columns: 50px repeat(6, 1fr)
                gap: 10px
                padding-top: 20px
                &_number
                    margin-left: 30px
            .cell
                gap: 8px
            .player
                &_number
                    padding-left: 0
                    margin-left: 30px
                &_player
                    grid-column: 2/4
                    padding-left: 0px
                    .playerLogo
                        width: 30px
                        height: 30px
                &_tournaments
                    padding-left: 0px
                    margin-right: 0
                    padding-right: 0
                &_rating
                    // font-size: 14px
                    justify-content: flex-end
                    padding-left: 0px
                    padding-right: 0px

@media (max-width: 576px)         
    .clubStatistics
        margin-top: 40px
        .tournamentsTable, .victoriesTable
            padding: 16px 8px
            font-size: 14px
            &_header
                display: none
            &_player
                grid-template-columns: 20px repeat(5, 1fr)
                gap: 6px
                padding-top: 0
            .cell
                gap: 8px
                // justify-content: center
            .player
                font-size: 14px
                &_number
                    font-size: 14px
                    // grid-column: 1/2
                    padding-left: 0
                    margin-left: 0
                &_player
                    width: auto
                    font-size: 14px
                    grid-column: 2/5
                    padding-left: 0px
                    .playerLogo
                        width: 20px
                        height: 20px
                &_tournaments
                    font-size: 14px
                    // grid-column: 5/6
                    // padding-left: 8px
                    padding-left: 0px
                    margin-right: 0
                    padding-right: 0
                &_rating
                    font-size: 14px
                    justify-content: flex-end
                    padding-left: 0px
                    padding-right: 0px
                    margin-right: 0px