.notFoundContainer
    position: relative
    width: 100%
    padding-bottom: 20px
    margin-top: -130px
    &_code
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        align-items: flex-end
        h6
            color: #FA6400
            font-family: Inter
            font-size: 400px
            font-style: normal
            font-weight: 700
            line-height: 80%
            text-transform: uppercase
            // font-size: 270px
            // line-height: 100%
    h2
        margin-top: 40px
        color: #FFF
        text-align: center
        font-family: Inter
        font-size: 40px
        font-style: normal
        font-weight: 600
        line-height: 100%
        margin-bottom: 16px
    h4
        color: #FFF
        text-align: center
        font-family: Inter
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 100%
    h3
        text-align: center
        margin-top: 30px
        span
            color: #FFF
            text-align: center
            font-family: Inter
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 150%
        a
            color: #FA6400
            text-align: center
            font-family: Inter
            font-size: 20px
            font-style: normal
            font-weight: 600
            line-height: 150%
            text-decoration-line: underline
    // svg
    //     width: 300px
    //     height: 500px
    //     // box-sizing: border-box
    //     // overflow: visible
    //     overflow: hidden
    //     padding-bottom: 35px
.bouncing-svg
    width: 100% /* Адаптивная ширина */
    max-width: 350px /* Максимальная ширина на больших экранах */
    height: auto /* Высота будет рассчитываться автоматически */
    overflow: hidden /* Скрывает мяч, выходящий за границы */




@media (max-width: 1300px)
    .notFoundContainer
        margin-top: -100px
        h2
            margin-top: 0
        &_code
            h6
                font-size: 270px
                line-height: 120%
            
            img
                aspect-ratio: 1 / 1
                width: auto
                height: 220px
    .bouncing-svg
        max-width: 255px

@media (max-width: 992px)
    .notFoundContainer
        margin-top: -80px
        &_code
            h6
                font-size: 250px
            img
                height: 210px
    .bouncing-svg
        max-width: 215px
@media (max-width: 768px)
    .notFoundContainer
        margin-top: -60px
        &_code
            h6
                font-size: 200px
                line-height: 150%
            img
                height: 180px
        h2
            font-size: 32px
            margin-bottom: 12px
        h3
            span
                font-size: 18px
            a
                font-size: 18px
                margin-top: 20px
    

@media (max-width: 576px)
    .notFoundContainer
        margin-top: 0px
        &_code
            h6
                font-size: 150px
                line-height: 170%
            // img
            //     height: 113px
        h2
            font-size: 24px
            margin-bottom: 8px
        h3
            margin-top: 20px
            span
                font-size: 14px
            a
                font-size: 16px
    .bouncing-svg
        max-width: 150px
        