.tournament
    margin-top: 40px
    &_mainInfo
        border-radius: 14px
        background: #262630
        padding: 20px
        box-sizing: border-box
        width: 100%
        display: flex
        gap: 20px
        // height: 194px
        &_logo
            aspect-ratio: 1.74/1.54
            width: 174px
            height: auto
            // width: auto
            // height: 100%
            border-radius: 14px
        &_info
            display: flex
            flex-direction: column
            gap: 16px
            // width: auto // посмотреть при адаптации
            width: 75%
            &_name
                color: #FFF
                font-family: Inter
                font-size: 24px
                font-style: normal
                font-weight: 500
                line-height: normal
                &::after
                    content: ''
                    display: block
                    height: 1px
                    width: 100%
                    background-color: #3F3F4C
                    margin-top: 10px
            &_descr
                display: grid
                grid-template-columns: 1fr 1fr
                // display: flex
                // gap: 30px
                // justify-content: space-between
                &_path
                    display: flex
                    flex-direction: column
                    gap: 14px
                    p
                        height: 24px
                        color: #FFF
                        font-family: Inter
                        font-size: 16px
                        font-style: normal
                        font-weight: 500
                        line-height: normal

                        align-content: center
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis
                        span
                            font-weight: 400
                            a
                                text-decoration: none
                                color: #FFF
                    &_wrapp
                        display: flex
                        align-items: center
                        gap: 6px
                        height: 24px
                        color: #fff
                        font-family: Inter
                        font-size: 16px
                        font-style: normal
                        font-weight: 500
                        line-height: normal
                        white-space: nowrap
                        overflow: hidden
                        text-overflow: ellipsis

.pastTournament
    margin-top: 60px
    &_table
        border-radius: 14px
        background: #262630
        width: 100%
        height: auto
        padding: 20px
        box-sizing: border-box
        &_content
            width: 100%
        &_header
            border-radius: 8px
            background: #3F3F4C
            padding: 15px 30px
            display: grid;
            grid-template-columns: 20px 3fr 2fr 1fr 2fr repeat(3, 1fr)
            gap: 16px

            color: #fff
            font-family: Inter
            font-size: 16px
            font-style: normal
            font-weight: 500
            line-height: 130%
        &_player
            position: relative
            // width: 100%
            padding: 15px 30px
            display: grid;
            // grid-template-columns: repeat(11, 1fr)
            grid-template-columns: 20px 3fr 2fr 1fr 2fr repeat(3, 1fr)
            gap: 16px

            color: #fff
            font-family: Inter
            font-size: 16px
            font-style: normal
            font-weight: 500
            line-height: 130%
            &::after
                position: absolute
                bottom: 0
                left: 0
                content: ''
                display: block
                height: 1px
                width: 100%
                background: #3F3F4C
            .pastTournament_number
                align-content: center
                font-size: 20px
                color: #ADADAD
            .pastTournament_player
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                display: flex
                justify-content: flex-start
                align-content: center
                gap: 8px
                .playerLogo
                    width: 27px
                    height: 27px
                span
                    align-content: center
            .pastTournament_city
                color: #ADADAD
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
            .pastTournament_avarage
                color: #007026
            &:nth-child(1)
                .pastTournament_number
                    color: #E0A100
            &:nth-child(2)
                .pastTournament_number
                    color: #ADADAD
            &:nth-child(3)
                .pastTournament_number
                    color: #966C00
                
        &_btn
            display: block
            margin-top: 20px
            color: #FA6400
            font-family: Inter
            font-size: 14px
            font-style: normal
            font-weight: 500
            line-height: normal
            text-decoration-line: underline
    .cell
        font-size: 16px
        font-weight: 400
        align-content: center
        

    // &_number
        
    &_player
        display: flex
        justify-content: flex-start
        align-content: center
        gap: 8px
        .playerLogo
            width: 27px
            height: 27px
        span
            align-content: center
    // &_city
    //     grid-column: 5 / 7
    // &_games
    //     grid-column: 7 / 8
    &_sets
        padding-left: 15px
        // text-align: center
    // &_avarage
    //     color: #007026
    &_before
        text-align: center
    &_after
        text-align: center