<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TTLeague</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="/icons/favicons/manifest.json">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="ThailandTTLeague">
    <meta property="og:description" content="Thailand TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
    <meta property="og:image" content="https://thailandttleague.com/icons/favicons/preview.png">
    <meta property="og:url" content="https://thailandttleague.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Thailand TT League">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ThailandTTLeague">
    <meta name="twitter:description" content="Thailand TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
    <meta name="twitter:image" content="https://thailandttleague.com/icons/favicons/preview.png">
    <meta name="twitter:url" content="https://thailandttleague.com/">

    <!-- Favicon and other icons -->
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="/icons/favicons/site.webmanifest">
    <link rel="mask-icon" href="/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/icons/favicons/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#262630">
    <!-- Для iOS установка цвета шторки (status bar) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#262630">
    <!-- Для Android установка цвета шторки -->
    <meta name="theme-color" content="#000817"> 

    <link rel="icon" type="image/png" href="/icons/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
    <header class="header" id="scroll">
       <!-- from js -->
    </header>
    <div class="navigate">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol id="breadcrumb" class="navigate_breadcrumb">
                    <!-- from js -->
                </ol>
            </nav>
        </div>
    </div>
    
  
    <section class="aboutUs">
        <div class="container">
                <h2>Thailand TT League</h2>
                <p>is the biggest and only table tennis league in the<br>Kingdom of Thailand</p>
                <div class="aboutUs_info">
                    <div class="aboutUs_info_img">
                    </div>
                    <div class="aboutUs_info_descr">
                        <div class="aboutUs_info_descr_item">
                            <h4>The biggest table tennis community</h4>
                            <p>We have gathered players with different levels and nationalities.</p>
                        </div>
                        <div class="aboutUs_info_descr_item">
                            <h4>Our goal and mission</h4>
                            <p>We are here to make this game popular among beginners, amateurs and advanced players.</p>
                        </div>
                        <div class="aboutUs_info_descr_item">
                            <h4>Why join Thailand TT League?</h4>
                            <p>Our rating system can motivate players to grow faster and to see all tournaments around the country. </p>
                        </div>
                    </div>
                </div>
                <div class="aboutUs_benefits">
                    <div class="aboutUs_benefits_item">
                        <h3>BENEFITS FOR PLAYERS:</h3>
                        <ul class="aboutUs_benefits_item_list">
                            <li>Easily find a club, a tournament and a coach around your location.</li>
                            <li>Create your profile on our website and join our community! Watch other players profiles and find a partner to play together!</li>
                            <li>Join tournaments, get your rating, improve and enjoy the game!</li>
                        </ul>
                    </div>
                    <div class="aboutUs_benefits_item">
                        <h3>BENEFITS FOR COACHES:</h3>
                        <ul class="aboutUs_benefits_item_list">
                            <li>Create your coach profile and let the players around you find you easily!</li>
                            <li>Add information about your training and promote yourself for free on our website!</li>
                        </ul>
                    </div>
                    <div class="aboutUs_benefits_item">
                        <h3>BENEFITS FOR CLUBS:</h3>
                        <ul class="aboutUs_benefits_item_list">
                            <li>Add your club to our list of clubs so players in your area will know about you!</li>
                            <li>Get more players to join your club, and advertise your training for free.</li>
                            <li>Create tournaments, advertise and manage them on our website.</li>
                            <li>Get your players motivated to play more and improve faster.</li>
                        </ul>
                    </div>
                </div>

        </div>
    </section>





    <footer class="footer">
        <!-- from js -->
    </footer>
    
    <div class="adv">
    <!-- add from DB -->
    </div>
    
    
    <!-- Модальное окно -->
    <div id="myModal" class="modal">    
        <div class="modal-content">
        <!-- add from DB -->
        </div>
    </div>
    
    <script type="module" src="/js/aboutus.js"></script> 
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>