<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TTLeague</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/icons/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/icons/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/icons/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/icons/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/icons/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/icons/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icons/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/icons/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
        <link rel="manifest" href="/icons/favicons/manifest.json">
    
        <!-- Open Graph meta tags -->
        <meta property="og:title" content="AsianTTLeague">
        <meta property="og:description" content="Asian TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
        <meta property="og:image" content="https://asianttleague.com/icons/favicons/preview.png">
        <meta property="og:url" content="https://asianttleague.com/">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Asian TT League">
    
        <!-- Twitter Card meta tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="AsianTTLeague">
        <meta name="twitter:description" content="Asian TT League unites clubs, players, and coaches into one big family. Find a club, a coach, or sign up for a tournament.">
        <meta name="twitter:image" content="https://asianttleague.com/icons/favicons/preview.png">
        <meta name="twitter:url" content="https://asianttleague.com/">
    
        <!-- Favicon and other icons -->
        <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicons/favicon-16x16.png">
        <link rel="manifest" href="/icons/favicons/site.webmanifest">
        <link rel="mask-icon" href="/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/icons/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-config" content="/icons/favicons/browserconfig.xml">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/icons/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#262630">
        <!-- Для iOS установка цвета шторки (status bar) -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#262630">
        <!-- Для Android установка цвета шторки -->
        <meta name="theme-color" content="#000817"> 
    
        <link rel="icon" type="image/png" href="/icons/logo.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.min.css">
        
    </head>

<body>
    <header class="header softHeader" id="scroll">
       <!-- from js -->
    </header>

    <section class="chooseTournament" data-userid="<%= userId %>">
        <div class="container">
            
            <h1>Chose or create tournament</h1>
            <div class="chooseTournament_wrapp">
                <!-- <div class="chooseTournament_wrapp_item">
                    <h3>Tournaments</h3>
                    <h4>19:00 20.11.2024</h4>

                </div> -->
                <!-- <div class="chooseTournament_wrapp_item">
                    <h3>Tournament Phuket Master’s Cup</h3>
                    <h4>19:00 20.11.2024</h4>

                </div>
                <div class="chooseTournament_wrapp_item">
                    <h3>Tournament Phuket Master’s Cup</h3>
                    <h4>19:00 20.11.2024</h4>

                </div> -->
            </div>

            <button id="createTournamentSoft" class="header_btn-sign account_buttonWrapp_btn chooseTournament_wrapp_btn">
                Create new tournament
            </button>

           
        </div>

    </section>



    <!-- Модальное окно -->
    <div id="myModal" class="modal">    
        <div class="modal-content softStyle">
        <!-- add from DB -->
        </div>
    </div>
    <div id="createTournamentModal" class="modal">    
        <div class="modal-content">
            <h2>Create Tournament</h2>
            <form class="addClub_form addTournament_form" id="addTournamentForm">
                <div class="form_group">
                    <label for="tournamentname">Tournament name*</label>
                    <input placeholder="Name" type="text" id="tournamentName" name="tournamentname" required>
                </div>
                <div class="addClub_form_namePhone">
                    <div class="form_group">
                        <label for="tournamentdate">Tournament date*</label>
                        <input placeholder="Date" type="date" id="" name="tournamentdate" required>
                    </div>
                    <div class="form_group">
                        <label for="tournamenttime">Tournament time*</label>
                        <input placeholder="Time" type="time" id="phone" name="tournamenttime" required>
                    </div>
                </div>
                <div class="addClub_form_namePhone">
                    <div class="form_group">
                        <label for="ratinglimit">Rating limit*</label>
                        <input placeholder="Limit" type="text" id="name" name="ratinglimit" required>
                    </div>
                    <div class="form_group">
                        <label for="phone">Tournament organizer contact*</label>
                        <input placeholder="Phone number" type="tel" id="phone" name="phone" required>
                    </div>
                    
                </div>
                <div class="form_group">
                    <label for="tournamentprice">Tournament cost*</label>
                    <input placeholder="Price" type="text" id="city" name="tournamentprice" required>
                </div>
                
                <div class="form_group">
                    <label for="infotournaments">Prizes, awards</label>
                    <textarea placeholder="Prizes, awards for winning place in the tournament" id="infoTournaments" name="infotournaments" rows="7"></textarea>
                </div>
                
                <button type="submit" class="header_btn-sign addTournament_form_btn">Create a tournament</button>
            </form>
            <!-- <form id="tournamentForm">
                <div class="form-group">
                    <label for="tournamentName">Name of Tournament</label>
                    <input type="text" id="tournamentName" name="tournamentName" placeholder="Enter tournament name" required>
                </div>
                <div class="form-group">
                    <label for="tournamentDate">Date of Tournament</label>
                    <input type="date" id="tournamentDate" name="tournamentDate" required>
                </div>
                <div class="form-group">
                    <label for="ratingLimit">Rating limit</label>
                    <input type="number" id="price" name="ratingLimit" placeholder="Enter limit" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" id="price" name="price" placeholder="Enter price" required>
                </div>
                <div class="form-group">
                    <label for="prizes">Prizes</label>
                    <textarea id="prizes" name="prizes" placeholder="Describe the prizes" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="header_btn-sign submit-btn">Create</button>
                </div>
            </form> -->
        </div>
    </div>
    <script type="module" src="/js/softstartpage.js"></script> 
</body>
</html>